<div class="simple-value">
  <h2>{{title}}</h2>
  <button {{action 'simpleValue'}}>Update simple value</button>
</div>

<div class="complex-value">
  <h2>{{title.complex}}</h2>
  <button {{action 'complexValue'}}>Update complex value</button>
</div>

{{outlet}}
